@import './variables.scss';

.action {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
  font-size: 8px;
  line-height: 12px;

  &__label {
    font-weight: 500;
  }

  &__range {
    margin-left: auto;
  }

  &__details {
    width: 100%;
    margin-top: 2px;
    @include font-small;
  }
}
