
.badges {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
  }
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    border-radius: 50%;
    min-width: 12px;
    width: 12px;
    height: 12px;
    font-size: 8px;
    border: 1.5px solid black;
  }
}

