@import './variables.scss';

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2px;

  &__item {
    max-width: 52px;
    flex-basis: 52px;
    position: relative;
    padding-top: 4px;
    margin-bottom: 6px;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include font-small;
    text-align: center;
  }

  &__svg {
    display: block;
  }

  &__path {
    stroke: black;
    stroke-width: 1px;
    stroke-linecap: round;
    &--mini {
      stroke-width: 0.4px;
    }
  }

  &__value {
    position: absolute;
    top: 19px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;

    &--perception {}

    &--armor {}

    &--max-health {

    }

    &--speed {
      font-size: 10px;
      top: 25px;
      right: 9px;
    }

    &--initiative {
      top: 24px;
    }

    &--investigation {
    }
  }
}