@import './variables.scss';

.resource {
  &__kind {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 2px;
  }

  &__label {
    font-weight: 500;
    margin-right: 0.38em;
    transform: translate(0, -1px);
  }

  &__group {
    display: flex;
    align-self: start;
    margin-right: 0.38em;
  }

  &__group-label {
    padding-right: 0.38em;
  }

  &__box {
    box-sizing: content-box;
    display: inline-block;
    width: 11px;
    height: 11px;
    box-shadow: 0 0 0 1px;
    &:not(:first-child) {
      margin-left: 1px;
    }
  }

  &__boxes {
     vertical-align: top;
     line-height: 0;
     margin-left: auto;
  }
}