@import './variables.scss';

.spell {
  font-size: 6.2px;
  line-height: 8px;
  margin-bottom: 7px;

  &__level {
    margin-top: 0;
    margin-bottom: 2px;
  }

  &__detail {
    // margin-top: 4px;
  }

  &__description {
    margin-top: 4px;
    white-space: pre-line;
    margin-bottom: 3px;
  }

  &__vocal {
    font-style: italic;
    font-weight: 300;
  }

  &__somatic {
    font-size: 6.2px;
    line-height: 8px;
    font-weight: normal;
  }
}
